<div class="row">
  <div class="col-md-8">
  <div>
  <div class="input-group input-group-sm mb-5">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">
    <img src="https://media.istockphoto.com/vectors/search-magnifying-glass-icon-illustration-vector-id917849744" alt="">
        </span>
  </div>
    <input type="text" class="form-control" aria-label="Buscar" name="busqueda" autocomplete="off" placeholder="Busca" role="combobox" >
  </div>
</div>
  <div class="col-sm-2">
    <button class="btn btn-submit">Buscar</button>
  </div>
</div>
<div>
  <app-usuarios></app-usuarios>
</div>

</div>
