<div class="row">
  <div class="col-sm-12">
    <br>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <img
      src="https://scontent.fgye1-1.fna.fbcdn.net/v/t1.0-9/31563996_1920093914699021_7070590439320977408_n.jpg?_nc_cat=0&oh=956b360b029daf838d4b8ceb56c6dd61&oe=5BD3379F"
      alt="fotoperfil"
      class="imagen-perfil" width="50" height="50"> Andrea Villacis
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <br>
    <br>
    <div class="input-group input-group-sm mb-5">
      <input type="buscar" class="form-control" placeholder="Buscar Usuario, Modelo papá ó Modelo hijo"
             aria-label="Buscar">
    </div>
  </div>
  <div class="col-sm-2">
    <br>
    <br>
    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <app-usuarios></app-usuarios>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div *ngIf="mostrarComponente===true" class="col-sm-10">
    <app-sistema-operativo></app-sistema-operativo>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-10" *ngIf="cargarsistemaoperativo">
  </div>
  <div class="col-sm-1"></div>
</div>
