<div class="row">
<div class="col-md-12"></div>
<div class="col-md-12"></div>
  <br>
  <br>
  <br>
  <div class="col-sm-1">
    <img src="https://www.shareicon.net/download/2015/10/03/110917_search.ico" alt="" width="40" height="40">
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" aria-label="Buscar" name="busqueda" autocomplete="off" placeholder="Busca" role="combobox">
  </div>
  <div class="col-sm-3">
    <button class="btn btn-submit">Buscar</button>
  </div>
  <div>
    <app-usuarios></app-usuarios>
  </div>
  <div>
    <app-aplicacion></app-aplicacion>
  </div>

</div>





<!--
<div class="col-sm-1">
  <div class="input-group input-group-sm mb-5">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">
    <img src="https://media.istockphoto.com/vectors/search-magnifying-glass-icon-illustration-vector-id917849744" alt="" height="50" width="50">
        </span>
  </div>
    <div class="col-md-6">
    <input type="text" class="form-control" aria-label="Buscar" name="busqueda" autocomplete="off" placeholder="Busca" role="combobox" ngModel="buscador">
  </div>
  </div>
</div>
  <div class="col-sm-2">
    <button class="btn btn-submit">Buscar</button>
  </div>

<div>
  <app-usuarios></app-usuarios>
</div>


-->
