<div class="row col-sm-12">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <img src="https://scontent.fuio13-1.fna.fbcdn.net/v/t1.0-9/11887947_1866065346952998_6037155980795055475_n.jpg?_nc_cat=0&oh=a728e8919f352cbec04fd297a261eb0e&oe=5BDD6A53" alt="usuario1" width="80" height="80" class="imagen1">
    </div>

  <div class="col-sm-3">
    <img src="https://scontent.fuio13-1.fna.fbcdn.net/v/t1.0-9/31563996_1920093914699021_7070590439320977408_n.jpg?_nc_cat=0&oh=956b360b029daf838d4b8ceb56c6dd61&oe=5BD3379F" alt="usuario2" width="80" height="80" class="imagen2">
  </div>
</div>
<div class="col-sm-3">
<button class="btn-primary"><--Anterior</button>
</div>
<div class="col-md-6"></div>
<div class=col-sm-3>
  <button class="btn-primary">Siguiente--></button>
</div>
