<br>
<br>
<h1 class="font-weight-bold">Sistema Operativo</h1>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3 imagen-perfil">
    <div class="row">
      <div class="col-sm-3" routerLink="/transferencia">
        <img src="https://i.imgur.com/5276RKI.png" alt="server" width="150" height="150">
        <p>windows server</p>
      </div>
    </div>

  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-3 imagen-perfil">
    <div class="row">
      <div class="col-sm-3">
        <img
          src="https://seeklogo.com/images/M/Mac_OS-logo-EBD2AA67B3-seeklogo.com.png"
          alt="ash" width="150" height="150">
        <p>MAC OS</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-sm-1"></div>
  <div class="col-sm-3 imagen-perfil">
    <div class="row">
      <div class="col-sm-3">
        <img
          src="https://i.kinja-img.com/gawker-media/image/upload/s--z3v8Cpi0--/c_scale,f_auto,fl_progressive,q_80,w_800/ff36t2kmktbh5mw1jsfd.jpg"
          alt="ash" width="150" height="150">
        <p>windows 10</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-warning">Anteriores (2)</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <button class="btn btn-warning">Siguientes (2)</button>
  </div>
</div>
